@font-face {
    font-family: font1;
    src: url(../fonts/font1.ttf);
}
@font-face {
    font-family: geo_xibli-13744451808;
    src: url(../fonts/geo_xibli-13744451808.ttf)
}
:root {
    --main-color: #AE67B9;
    --main-font-color: #F0F0F0;
    --logo-font-Courgette: "Courgette", cursive;
    --font-english-text: "Roboto", sans-serif;
    --font-geofirst: font1;
    --font-geo_xibli: geo_xibli-13744451808;
    --text-color-inwhite: #292b2c;
}
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
img {
    width: 100%;
    height: auto;
}
.container {
    width: 90%;
    margin: auto;
}
.margins-top-bottom {
    margin-top: 9rem;
    margin-bottom: 9rem;
}
.paddings-top-bottom {
    padding: 5rem 0;
}
/*=========== HEADER ==============*/
.header {
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--main-color);
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    display: flex;
    align-items: center;
    
}
.header-logo .logo-img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    filter: invert(80%);
}
.logo-text {
    margin-left: 0.4rem;
    color: var(--main-font-color);
}
.logo-text .name {
    font-family: var(--logo-font-Courgette);
    text-transform: capitalize;
    font-size: 1.1rem;
}
.logo-text .sep {
    height: 1px;
    background-color: var(--main-font-color);
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}
.logo-text .desk {
    font-family: var(--font-english-text);
    text-transform: capitalize;
    font-size: 0.9rem;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 3rem;
    
}
.nav-link {
    display: block;
    position: relative;
    font-family: var(--font-geofirst);
    font-size: 1.3rem;
    color: var(--main-font-color);
    
}
.header-btn {
    padding: 1rem 2.2rem;
    border-radius: 10px;
    background-color: var(--main-font-color);
    vertical-align:middle;
}
.header-btn  {
    font-family: var(--font-geofirst);
    text-decoration: none;
    color: var(--main-color);
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-decoration: none;
}
/*============ BANER ====================*/
.baner {
    width: 100%;
    height: 31.25rem;
    position: relative;
    background-image: url(../images/fg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: var(--font-geofirst);
}
.baner .cover {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, var(--main-font-color) 30%,transparent);
}
.baner-desc {
    display: flex;
    flex-direction:column;
    align-items: center;
    transform: translateY(+60%);
    width: 40%;
    padding: 2rem 1rem;
    gap: 2rem;
}
.baner-header {
    
    color: var(--main-color);
}
.baner-text {
    font-size: 1.2rem;
    color: var(--text-color-inwhite);
    text-align: center;
}
.services {
   
    color: var(--text-color-inwhite);
}
.service-header {
    text-align: center;
    
}
.service-header h2 {
    font-family: var(--font-geofirst);
    letter-spacing: 1.2px;
    font-weight: 300;
}
.service-header img {
    width: 10rem;
    rotate: -41deg;
    margin-top: -3rem;
}
.services-table {
    display: flex;
    gap: 2rem;
    font-family: var(--font-geofirst);
}
.service-item {
    background-color: var(--main-font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: var(--main-color) 1px 1px 1px;
}
.service-item img {
    width: 50%;
}
.ebaut {
    background-color: var(--main-font-color);
    padding: 5rem 0 10rem 0;
}
.ebouat-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.ebaout-text {
    font-family: var(--font-geofirst);
    color: var(--text-color-inwhite);
    font-size: 1.4rem;
    line-height: 2rem;

    padding: 2rem 1rem;
}
.ebaout-text h3 {
    color: var(--main-color);
}
.ebaout-img {
    width: 50%;
    border-radius: 45%;
    overflow: hidden;
    border: 1px var(--main-color) dashed;
}