:root {
    --main-color: #AE67B9;
    --main-font-color: #F0F0F0;
    --logo-font-Courgette: "Courgette", cursive;
    --font-english-text: "Roboto", sans-serif;

}
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
@font-face {
    font-family: font1;
    src: url(../fonts/font1.ttf);
}
@font-face {
    font-family: geo_xibli-13744451808;
    src: url(../fonts/geo_xibli-13744451808.ttf)
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    height: auto;
}
.container {
    width: 90%;
    margin: auto;
}
.header {
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--main-color);
}
.header-logo {
    display: flex;
    align-items: center;
    
}
.header-logo .logo-img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    filter: invert(80%);
}
.logo-text {
    margin-left: 0.4rem;
    color: var(--main-font-color);
}
.logo-text .name {
    font-family: var(--logo-font-Courgette);
    text-transform: capitalize;
    font-size: 1.1rem;
}
.logo-text .sep {
    height: 1px;
    background-color: var(--main-font-color);
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}
.logo-text .desk {
    font-family: var(--font-english-text);
    text-transform: capitalize;
    font-size: 0.9rem;
}